

header {
    text-align: center;
    margin-bottom: 20px;
}

.large-font {
    font-size: 24px;
}

.start-button {
    font-size: 15px;
    background-color: rgb(182, 136, 136);
    
}



.timer {
    float:left;

}

.timer-text {
    
    float: left;
}

.timer-count {
    font-size: 25px;
    font-weight: bold;
    color: black;
}